.centered-x {
    height: 50px;
    width: 25%;
    background-color: seagreen;
    margin: auto;
}

.fixed {
    background-color: #333;
    padding: 20px 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.fixed a {
    text-decoration: none;
    color: white;
}

.pos-absolut-parent {
    height: 300px;
    border: 15px solid tomato;
    position: relative;
}

.pos-absolut-child {
    height: 50px;
    width: 50px;
    background-color: #333;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -25px;
    margin-right: -25px;
}
.pos-relative {
    height: 50px;
    width: 50px;
    background-color: seagreen;
    position: relative;
    top: 20px;
    left: -30px;
}

.sticky {
    height: 40px;
    background-color: olive;
    padding-top: 15px;
    padding-left: 30px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}

.parent {
    border: 5px solid aqua;
    overflow: auto;
}

.clearfix::after {
    clear: both;
    
}

.child-1 {
    background-color: brown;
    height: 100px;
    width: 33%;
    /* Elemento flotante */
    float:left;

    /* Movimiento relativo al su posicion anterior */
    position: relative;
    top: 15px;
    left: 15px;
}

.child-2 {
    background-color: darkblue;
    height: 100px;
    width: 33.3%;
    float: right;
}

.child-2-1 {
    background-color: gray;
    height: 50%;
    width: 33.3%;
    float: right;
}

.child-2-2 {
    background-color: gainsboro;
    height: 30%;
    width: 33.3%;
    float: left;
}

.child-3 {
    background-color: darkorange;
    height: 50px;
    width: 100%;
}

.child-4 {
    clear: both;
    background-color: green;
    height: 100px;
    width: 100%;
}

.box-sizing-parent {
    width: 200px;
    height: 200px;
    border: 10px solid goldenrod;
    padding-top: 10px;
    box-sizing: border-box; 
}

.box-sizing-child {
    width: 100%;
    height: 50px;
    background-color: gray;
    border: 10px solid darkolivegreen;
}

.border-box {
    margin-top: 10px;
    box-sizing: border-box; /*El tma침o de la caja ser치 el real sin a침adirle el padding */
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
    background: darkslategray;
}

.box-3, .box-4{
    display: inline-block;
}

.box-5, .box-6, .box-5 p, .box-6 p{
    display: inline;
}

/* -------- Flexbox --------- */
.flex-parent {
    display: flex;
    /*flex-flow: row wrap;*/
    /*height: 200px;*/
    padding:20px;
    background-color: indianred;

    /*justify-content:flex-start;*/  /* Al ser direcci칩n row alinea en la horizontal */
    /*justify-content:flex-end;*/
    /*justify-content:center;*/
    /*justify-content:space-around;*/
    /*justify-content:space-evenly;*/
    justify-content:space-between;
    gap: 10px;

    
    /*align-items:center;*/ /* Al ser row alinea en vertical */
    /*align-items:stretch;*/
}

.flex-parent > div:nth-child(even) {
    background-color:#ddd;
    color: #333;
}

.flex-parent > div:nth-child(odd) {
    background-color:#333;
    color: #ddd;
}

[class^="flex-child-"] {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*flex-grow: 1;*/
}
.flex-child-2, .flex-child-3 {
    flex-grow: 1;
    flex-shrink: 5;
}

.flex-child-2 {
    /* Cambiamos el orden html de los elementos*/
    order:3;
}